# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.evans-fresh-roast.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\git\playground\evans-fresh-roast\.idea\.idea.evans-fresh-roast\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
